<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="Maniphest" icon-off="fa fa-anchor" icon-on="fa fa-anchor" href="#/tab/maniphest">
        <ion-nav-view name="tab-maniphest"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Differential" icon-off="fa fa-cogs" icon-on="fa fa-cogs" href="#/tab/differential">
        <ion-nav-view name="tab-differential"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Projects" icon-off="fa fa-briefcase" icon-on="fa fa-briefcase" href="#/tab/projects">
        <ion-nav-view name="tab-projects"></ion-nav-view>
    </ion-tab>

</ion-tabs>
